@import 'tailwindcss';

@variant dark (&:where(.dark, .dark *));

/* `inline` is necessary to make it work */
@theme inline {
	--color-background: var(--color-bg);
	--color-foreground: var(--color-text);
	--color-secondary: var(--color-secondary);
	--color-tertiary: var(--color-tertiary);
	--color-highlight: var(--color-highlight);
	--color-text-highlight: var(--color-text-highlight);
}

@theme {
	--font-sans: 'Roboto', sans-serif;
	--font-mono: 'JetBrains Mono', monospace;
}

@utility container {
	margin-inline: auto;
	padding-inline: 1rem;
}

@layer base {
	:root {
		--color-bg: #eff1f5;
		--color-text: #4c4f69;
		--color-secondary: #9ca0b0;
		--color-tertiary: #7c7f93;
		--color-highlight: rgba(136, 57, 239, 0.15);
		--color-text-highlight: #8839ef;

		@variant dark {
			--color-bg: #11111b;
			--color-text: #cdd6f4;
			--color-secondary: #a6adc8;
			--color-tertiary: #9399b2;
			--color-highlight: rgba(203, 166, 247, 0.15);
			--color-text-highlight: #cba6f7;
		}
	}

	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-highlight, currentColor);
	}

	button:not(:disabled),
	[role='button']:not(:disabled) {
		cursor: pointer;
	}

	html,
	body {
		min-height: 100vh;
		background-color: var(--color-background);
		color: var(--color-foreground);
		transition: 300ms;
	}

	h1,
	h2,
	h3 {
		font-family: 'Roboto', sans-serif;
		font-weight: 700;
	}

	h1 {
		font-size: 2.25rem;
		line-height: 2.5rem;
	}

	h2 {
		font-size: 1.875rem;
		line-height: 2.25rem;
	}

	h3 {
		font-size: 1.5rem;
		line-height: 2rem;
	}

	p,
	span {
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
	}

	code,
	pre,
	li {
		font-family: 'JetBrains Mono', monospace;
		font-weight: 400;
	}

	.subheading,
	time,
	small {
		font-family: 'JetBrains Mono', monospace;
		font-weight: 500;
		font-size: 0.875rem;
		letter-spacing: 0.05em;
	}

	a {
		font-family: 'JetBrains Mono', monospace;
		font-weight: 500;
		color: inherit;
	}
}

@layer components {
	.flex-center {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
